<div class="container px-5 px-sm-0">
  <h2 class="mb-4">Diaries</h2>
  <div class="d-flex justify-content-between">
    <%= render 'public/searches/form' %>
    <h3>
	  	<%= link_to "♡", favorites_user_path(@user), class: "diary_icon" %>
  	</h3>
  </div>
  <%= render 'index', diaries: @diaries %>
</div>